<div class="container">

    <div class="row">

        <div class="col-md-12">

            <div class="hero-container">

                    <div class="hero-content">

                        <h1 class="text-center">Talk to Me</h1>

                        <p class="text-center">
                            Ask your questions, share your thoughts, or just say hello. I'd love to hear from you.
                        </p>
                    </div>

            </div>

            <a class="section-jump text-center" href="#portfolio">
                <i class="fa fa-angle-down fa-3x"></i>
            </a>

        </div>

    </div>

</div>
